{% extends "base.html" %}
{% load static %}

    {% block title %} List  {% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/challenges.css" %}"> </link>
    <link rel="stylesheet" href="{% static "challenges/challenge.css" %}"> </link>
{% endblock %}

{% block content %}
    <h1> Month list</h1>
    <ul>
    {% for month in months %}
        <li > <a href = {% url "month-name" month %}> {{month | title}} </a> </li>
    {% endfor %}
    </ul>
{% endblock %}